CSS
...........................................................
body,h2,ul{
    margin: 0px;
}
li{
    list-style-type: none;
}
h2{
    position: absolute;
width: 562px;
height: 108px;
left: 136px;
top: 83px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;
}
p{
    position: absolute;
width: 495px;
height: 81px;
left: 136px;
top: 219px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;

display: flex;
align-items: center;

color: #484848;
}
h6{
    position: absolute;
width: 227px;
height: 81px;
left: 136px;
top: 315px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 160%;
/* or 32px */

display: flex;
align-items: center;

color: #282828;
}
#email{
    box-sizing: border-box;

position: absolute;
width: 344px;
height: 64px;
left: 136px;
top: 411px;

background: #FFFFFF;
border: 4px solid #000000;
border-radius: 8px;
}
#register{
    position: absolute;
width: 216px;
height: 64px;
left: 496px;
top: 411px;
color: #FFFFFF;
background: #282828;
border-radius: 8px;
}
#top{
     background-color:rgba(237, 149, 42, 0.63);
     position: absolute;
     width: 1440px;
     height: 592px;
     left: 0px;
     top: -1px;
     
}


#bottom{
    position: absolute;
    width: 1440px;
    height: 298px;
    left: 0px;
    top: 592px;
    background: #282828;

}